 * {
     margin: 0;
     padding: 0;
     font-family: 'Roboto', sans-serif
 }

 .cuerpo {
     background-color: #12054D;
     color: white;
 }

 .nav-item:hover {
     transform: scale(1.04);
     -moz-transform: scale(1.04);
     -webkit-transform: scale(1.04);
     transition: all .5s;

 }

 .lang {
     width: 2rem;
     height: 2rem;
     border-radius: 15px;
     border: none;
     background-color: #B086CC;

 }

 .lang a:hover {
     color: black;
 }

 .lang a {
     text-decoration: none;
     color: white;

 }


 ul.navbar-nav {
     display: flex;
     align-items: center;
 }


 /* HOME */

 #home {
     /* background-image: url("img/prueba.svg"); */
     /* background-image: url(img/Imagen.png); */
     background-image: url(img/headerr.png);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-size: 100% 100%;
     width: 100%;
     height: 750px;
 }

 .textoHome {
     height: 450px;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .boton {
     background: linear-gradient(270deg, #B0F65B 0%, #01C6C5 22.97%, #4A7FF3 51.93%, #8171F5 83.85%, #B66DF3 100%);
     border-radius: 100px;
     font-style: normal;
     font-weight: 500;
     line-height: 2.5rem;
     text-align: center;
     width: 80%;
     margin: 0 0 auto;
 }

 .boton .btn {
     font-weight: 500;
     font-size: 30px;
     text-align: center;
     color: #FFFFFF;
     width: 100%;
     border: none;

 }

 .boton .btn:hover {
     cursor: pointer;
     border: none;
     color: white;
     transform: scale(1.04);
     -moz-transform: scale(1.04);
     -webkit-transform: scale(1.04);
     transition: all .5s;

 }

 .titulo,
 .row {
     width: 100%;
 }

 .titulo h2 {
     font-weight: 300;
     font-size: 40px;
     line-height: 4rem;
 }

 .titulo .blockchain {
     font-size: 5.5rem;
     font-family: 'Roboto';
     /* font-style: italic; */
     font-weight: 600;
 }

 .titulo p {
     font-size: 1vh;
     line-height: 2rem;
     color: #53E4F7;
     margin: 0.8rem 0.3rem 1.7rem;
     width: 90%;
     font-weight: 100;
     text-align: center;
 }





 /* CARDS */

 .titulo2 {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }


 .titulo2 h2 {
     font-weight: 600;
     font-size: 40px;
     text-align: center;
 }

 .cards {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
 }

 .card {
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     margin: 2rem;
     background: linear-gradient(180deg, #3E1387 58.24%, #22066D 100%);
     border-radius: 20px;
 }

 .card:hover {
     transform: scale(1.04);
     -moz-transform: scale(1.04);
     -webkit-transform: scale(1.04);
     transition: all .5s;
 }

 .card img {
     width: 6rem;
     height: 6rem;
     margin-top: 1rem;

 }


 .card h3 {

     font-weight: 450;
     font-size: 20px;
     line-height: 30px;
     text-align: center;
     text-transform: uppercase;
     padding: 1rem;
 }

 .card p {
     width: 100%;
     font-weight: 200;
     font-size: 18px;
     text-align: center;
     padding: 2rem;
 }

 .card1 .foto {
     width: 140px;
 }

 .fotoHiring {
     width: 140px;
     height: 140px;
     border-radius: 50%;
     background-color: white;
     display: flex;
     align-items: center;
     justify-content: center;

 }

 .fotoHiring p {
     color: #5427A8;
     text-align: center;
     font-size: 120px !important;
 }

 .card1 .textoHiring {
     margin-top: 0.5rem;
 }

 .card1 .foto:hover,
 .fotoHiring:hover {
     transform: scale(1.04);
     -moz-transform: scale(1.04);
     -webkit-transform: scale(1.04);
     transition: all .5s;
 }

 /* CONTACTO */

 .contacto {
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     flex-direction: row;
     padding-top: 5rem;
     flex-wrap: wrap;
 }


 .ilustracion .col-md-7 {
     display: flex;
     align-items: center;
 }


 .contacto p {
     font-style: normal;
     font-style: italic;
     font-size: 40px;
     line-height: 59px;
     text-align: center;
     padding-left: 0.5rem;

 }


 .logosC {
     padding: 5px;
     width: 7rem;
 }




 /* CLIENTS */

 .clients {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     margin-top: 5rem;
 }

 .clients h2 {
     font-weight: 600;
     font-size: 40px;
     line-height: 59px;
     text-align: center;
 }

 .clients p {
     font-weight: 300;
     font-size: 20px;
     line-height: 59px;
     text-align: center;
     margin-bottom: -40px;
     z-index: 999;
 }

 .imagenClientes {
     width: 100%;
 }


 /* TEAM */

 .team {
     margin-top: 4rem;

 }

 .teamTitulo {
     text-align: center;

 }

 .teamTitulo h2 {
     font-weight: 600;
     font-size: 40px;
     line-height: 59px;
     text-align: center;
 }

 .teamTitulo p {
     font-weight: 300;
     font-size: 20px;
     line-height: 59px;
     text-align: center;
 }

 .fotos {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));

 }

 .fotos .card1 {
     text-align: center;
     margin-right: 5rem;
     margin-left: 2rem;
     margin-bottom: 2rem;
 }

 .card1 img {
     padding-bottom: 0.5rem;
 }

 .card1 p {
     padding: 0;
     margin: 0;
     font-size: 0.9rem;

 }

 /* CONTACTO1 */

 .contact1 {
     width: 100%;
     height: 100%;
     left: 0rem;
     display: flex;
     align-items: center;
     justify-content: start;
     background: linear-gradient(180deg, rgba(22, 5, 79, 1) 0%, rgba(46, 8, 91, 1) 45%, rgba(59, 6, 94, 1) 68%, rgba(64, 10, 114, 1) 83%, rgba(69, 16, 138, 1) 100%);
 }

 .contact1 .row {
     display: flex;
     align-items: center;
     flex-direction: row;
     height: 100%;
 }

 .contact1 .botonContacto {
     border: double 4px transparent;
     border-radius: 80px;
     background-image: linear-gradient(90deg, #17054c, #270653), radial-gradient(circle at top left, #B0F65B, #01C6C5, #4A7FF3, #8171F5, #B66DF3);
     background-origin: border-box;
     color: white;
     background-clip: content-box, border-box;
     font-weight: 600;
     font-style: italic;
     font-size: 30px;
     line-height: 41.02px;
     text-align: center;
     width: 29rem;
     height: 4rem;
     color: white;
     margin-left: 5rem;
     border: 3px solid transparent;
 }

 .contact1 .botonContacto:hover {
     background: linear-gradient(270deg, #B0F65B 0%, #01C6C5 22.97%, #4A7FF3 51.93%, #8171F5 83.85%, #B66DF3 100%);
 }



 /* CONTACTO FORMULARIO */

 .formulario form {
     display: flex;
     flex-direction: column;
     gap: 3rem;
 }

 .formulario form .informacion input {
     background: rgba(84, 39, 168, 0.5);
     width: 30rem;
     height: 4rem;
     border-radius: 9px;
     border: none;
     cursor: pointer;
     color: white;
     font-weight: 600;
     font-style: italic;
     font-size: 20px;
 }

 .formulario form .informacion input[type=number]::-webkit-inner-spin-button,
 .formulario form .informacion input[type=number]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }


 .formulario form .comentarios input {
     background: rgba(84, 39, 168, 0.5);
     width: 30rem;
     height: 10rem;
     border-radius: 9px;
     border: none;
     cursor: pointer;
     color: white;
     font-weight: 600;
     font-style: italic;
     font-size: 20px;

 }


 .formulario form input::placeholder {
     color: white;
     font-weight: 400;
     font-style: italic;
     font-size: 20px;
 }

 .formulario form input[type="text"]::placeholder {
     padding-left: 3rem;
     padding-top: 1rem;
     padding-bottom: 1rem;
     background-image: url(./img/Icono\ email.svg);
     background-size: 8%;
     border-radius: 15px;
     background-repeat: no-repeat;
     background-position: left center;
 }


 .formulario form .comentarios input[type="text"]::placeholder {
     padding-left: 3rem;
     background-image: url(./img/Icono\ email.svg);
     background-size: 8%;
     border-radius: 15px;
     background-repeat: no-repeat;
     background-position: left center;

 }

 .formulario form input[type="number"]::placeholder {
     padding-left: 3rem;
     padding-top: 1rem;
     padding-bottom: 1rem;
     background-image: url(./img/Icono\ telefono.svg);
     background-size: 8%;
     border-radius: 15px;
     background-repeat: no-repeat;
     background-position: left center;
 }

 .formulario form input[type="email"]::placeholder {
     padding-left: 3rem;
     padding-top: 1rem;
     padding-bottom: 1rem;
     background-image: url(./img/Icono\ email.svg);
     background-size: 8%;
     border-radius: 15px;
     background-repeat: no-repeat;
     background-position: left center;
 }


 .direccion ul li {
     list-style-type: none;
 }

 .icono {
     position: absolute;
     display: block;
     user-select: none;
     padding: 0.5rem;

 }

 #comentarios {
     width: 31rem;
     height: 10rem;
 }


 .formulario .botonFormulario {
     border: double 4px transparent;
     border-radius: 60px;
     background-image: linear-gradient(90deg, #12054d, #12054d), radial-gradient(circle at top left, #B0F65B, #01C6C5, #4A7FF3, #8171F5, #B66DF3);
     background-origin: border-box;
     color: white;
     background-clip: content-box, border-box;
     font-weight: 600;
     font-style: italic;
     font-size: 30px;
     line-height: 41.02px;
     text-align: center;
     width: 100%;
     height: 4rem;
     color: white;
     border: 3px solid transparent;
     margin-bottom: 5rem;
 }


 .formulario .botonFormulario:hover {
     background: linear-gradient(270deg, #B0F65B 0%, #01C6C5 22.97%, #4A7FF3 51.93%, #8171F5 83.85%, #B66DF3 100%);
 }



 /* CONTACTO DIRECCION */

 .contacto-form {
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     flex-direction: row;
     padding-top: 3rem;
     flex-wrap: wrap;
 }

 .contacto-form .direccion {
     font-style: italic;
     font-weight: 600;
     font-size: 30px;
     background-image: url(./img/Ilustracionform.svg);
     background-repeat: no-repeat;
     min-height: 582px;
     width: 100%;
     z-index: 999;
     text-align: left;
 }

 .direccion ul .dir {
     width: 25rem;
     background: #BB6DF3;
     margin-top: 1rem;
     padding-left: 1rem;
 }

 .direccion .ciudad {
     width: 30rem;
     background: #BB6DF3;
     margin-top: 1rem;
     padding-left: 1rem;
 }

 .direccion .email {
     width: 20rem;
     background: #5277F7;
     margin-top: 1rem;
     padding-left: 1rem;
 }

 .direccion .telefono {
     width: 19rem;
     background: #00C7C5;
     margin-top: 1rem;
     padding-left: 1rem;
 }



 /* FOOTER */

 .raya {
     width: 100%;
     padding-bottom: 3rem;
 }


 .logoDapps {
     width: 50%;
     border-right: 2px solid grey;
     margin-bottom: 2rem;
 }

 .logoDapps img {
     padding-left: 4rem;
 }

 footer {
     display: flex;
     flex-direction: row;

 }

 .datosFooter {
     width: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .datosFooter ul {
     list-style-type: none;
 }

 .datosFooter ul li {
     width: 15rem;
     height: 4rem;
     font-weight: 500;
     font-size: 15px;
 }

 .datosFooter ul li a {
     color: white;
     text-decoration: none;
 }

 .redesSociales {
     border-left: 2px solid grey;
     width: 25%;
     margin-bottom: 2rem;
 }

 .redesSociales ul {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     margin-top: 20%;
 }

 .redesSociales ul li {
     list-style-type: none;
     padding: 0.5rem;

 }




 /* MEDIA QUERIES DE HOME*/

 @media (max-width: 1280px) {

     .textoHome {
         width: 100%;
     }
 }

 @media (max-width: 991px) {

     .textoHome {
         /* height: 400px; */
         display: flex;
         align-items: center;
         justify-content: center;
     }

     #home {
         background-image: url(img/prueba_header.png);
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         background-size: 100% 100%;
         width: 100%;
         height: 750px;
     }


     /* SECCION CONTACT1 (imagen de aviones)*/

     .contact1 .row {
         display: flex;
         align-items: center;
         flex-direction: column;
         height: 100%;
     }

     .contact1 .botonContacto {
         margin-left: 0;
     }




     .containerUp {
         margin-top: 0px;
     }

 }

 @media (max-width: 676px) {
     .titulo2 {
         margin-top: 80px;
     }




 }


 .containerUp {
     margin-top: 60px;
 }



 /* MEDIA QUERIES DE CONTACTO  */

 @media (max-width: 1280px) {

     .ilustracion {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;

     }

     .contacto p {
         padding: 2rem;
         width: 100%;

     }


     .contacto,
     .ilustracion,
     .row,
     .col-md-7 {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
     }


     .logosC {
         padding: 5px;
         width: 7rem;

     }


 }








 @media (max-width: 676px) {
     .imgContacto img {
         width: 100%;
     }
 }

 /* MEDIA QUERIES FOOTER  */

 @media (max-width: 1280px) {
     footer {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
     }

     .logoDapps {

         border-right: none;
         margin-bottom: 3rem;
     }



     .redesSociales {
         border-left: none;
         margin-bottom: 2rem;
     }

     .redesSociales ul {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
         margin-top: 20%;
     }

     .redesSociales ul li {
         padding: 1rem;

     }


 }

 /* MEDIA QUERIES fonts  */

 @media (max-width: 1280px) {
     .titulo h2 {
         font-weight: 200;
         font-size: 35px;
         line-height: 3.5rem;
     }

     .titulo .blockchain {
         font-size: 5rem;

     }

 }

 @media (max-width: 1200px) {

     .titulo h2 {
         font-weight: 150;
         font-size: 28px;
         line-height: 3rem;
     }

     .titulo .blockchain {
         font-size: 5rem;
         font-weight: 600;
     }

     .textoHome {
         height: 60%;
         display: flex;
         flex-direction: column;
         justify-content: center;

     }


     .boton {
         width: 90%;
     }


     .contacto p {
         font-size: 20px;
         line-height: 40px
     }


 }

 @media (max-width: 991px) {
     .titulo h2 {
         font-weight: 100;
         font-size: 30px;
         line-height: 2.5rem;
     }

     .titulo .blockchain {
         font-size: 4.5rem;
         font-weight: 200;
     }


     .titulo p {
         font-size: 0.5vh;
         line-height: 1.7rem;
         font-weight: 100;
         width: 70%;
     }

     .contacto p {
         font-size: 20px;
     }

     .boton {
         width: 70%;
     }




     /* LOGOS */

     .contacto,
     .ilustracion,
     .row,
     .col-md-7 {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
     }

     .contacto p {
         font-size: 20px;
         line-height: 40px
     }

     .logos {
         display: flex;
         align-items: stretch;
         align-content: center;
         justify-content: space-around;
         flex-direction: row;
         flex-wrap: wrap;
         margin: 0;
         padding: 0;
     }






 }


 @media (max-width: 768px) {


     #home {
         background-image: none;
         height: 90vh;

     }

     .titulo h2 {
         line-height: 2rem;
         font-weight: 100;
         font-size: 1.2rem;
         display: flex;
         align-items: center;
         justify-content: center;

     }

     .titulo .blockchain {
         font-size: 4.5rem;
         font-weight: 200;
         display: flex;
         align-items: center;
         justify-content: center;

     }

     .titulo p {
         font-size: 1.2rem;
         line-height: 1.7rem;
         display: flex;
         align-items: center;
         justify-content: center;
         width: 95%;
         font-weight: 100;
     }

     .textoHome {
         align-items: center;
         height: 90%;

     }

     .boton {
         width: 100%;
         margin-bottom: 100px;
     }




     /* ICONITO DE MENU HAMBURGUESA */

     .navbar>.container,
     .navbar>.container-fluid,
     .navbar>.container-lg,
     .navbar>.container-md,
     .navbar>.container-sm,
     .navbar>.container-xl,
     .navbar>.container-xxl {
         display: flex;
         flex-wrap: nowrap;
         align-items: center;
         justify-content: space-between;
         padding: 0.5rem;
     }


     ul.navbar-nav {
         display: flex;
         align-items: center;
         padding-top: 1rem;
     }


     /* CONTACT US */

     .contact1 .botonContacto {
         margin-left: 0.5rem;

     }

     /* footer */


     .logoDapps img {
         padding-left: 0;
         width: 30vh;
     }

     .redesSociales {
         padding: 0;
         margin: 0;

     }


 }


 @media (max-width: 676px) {

     /* NAV */

     .logoDappsInicio {
         width: 80%;
     }


     .navbar>.container,
     .navbar>.container-fluid,
     .navbar>.container-lg,
     .navbar>.container-md,
     .navbar>.container-sm,
     .navbar>.container-xl,
     .navbar>.container-xxl {
         display: flex;
         flex-wrap: nowrap;
         align-items: center;
         justify-content: space-between;

     }


     /* HOME */

     .titulo h2 {
         line-height: 2rem;
         font-weight: 100;
         font-size: 1.2rem;
         display: flex;
         align-items: center;
         justify-content: center;
     }

     .titulo .blockchain {
         font-size: 3rem;
         font-weight: 200;
         display: flex;
         align-items: center;
         justify-content: center;
     }

     .titulo p {
         font-size: 1.2rem;
         line-height: 1.7rem;
         display: flex;
         align-items: center;
         justify-content: center;
         width: 95%;
     }

     .textoHome {
         align-items: center;
         height: 90%;
     }

     .boton {
         width: 100%;
     }


     /* seccion LOGOS  */
     .contacto p {
         font-size: 20px;
         line-height: 40px
     }

     .logos {
         display: flex;
         align-items: stretch;
         align-content: center;
         justify-content: space-around;
         flex-direction: row;
         flex-wrap: wrap;
         margin: 0;
         padding: 0;
     }




     /* SECCION CLIENTES */

     .clients h2 {
         line-height: 45px;
     }

     .clients p {
         font-weight: 250;
         font-size: 18px;
         line-height: 40px;
         margin-bottom: -20px;
     }

     .contact1 .botonContacto {
         width: 100%;
         height: 3rem;
         margin-left: 0.5rem;
         margin-top: 1rem;

     }

     .teamTitulo p {
         font-weight: 250;
         font-size: 18px;
         line-height: 40px;
         margin-bottom: -20px;
         margin-bottom: 1rem;

     }


     /* equipo */

     .fotos {
         display: grid;
         grid-template-columns: none;
     }

     .fotoHiring,
     .textoHiring {
         display: none;
     }


     /* formulario */
     .formulario form {
         gap: 2rem;
     }

     .formulario .botonFormulario {
         font-size: 20px;
     }



     /* CONTACTO  */
     /* direccion */


     .contacto-form .direccion {
         background-image: none;
         min-height: 400px
     }

     .direccion,
     ::after,
     ::before {
         box-sizing: content-box;
     }

     .direccion ul .dir,
     .direccion .email,
     .direccion .ciudad,
     .direccion .telefono {
         padding-left: 0.5rem;
         padding-right: 0.5rem;
         font-size: 20px;
         width: 100%;
     }

     .direccion ul {
         padding-left: 0;
     }



     /* FOOTER */

     .logoDapps img {
         padding-left: 0;
         width: 30vh;
     }

     .redesSociales {
         padding: 0;
         margin: 0;

     }
 }